.ft_backend_upload_display {
    width: 710px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.ft_backend_upload_button_display {
    display: flex;
    width: auto;
}

.ft_backend_upload_instruction {
    padding-left: 30px;
    padding-top: 10px;
}

.ft_backend_editor_shape {
    width: 745px;
    height: 476px;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:0.1px solid rgba(183,188,214,1);
}