/* Pagination links */
.pagination  {
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  .page{
    list-style: none;
    padding:0;
    margin:0;
    li{
        float:left;
        width:30px;
        height:30px;
        border:1px solid #e6e6e6;
        text-align: center;
        line-height: 30px;
        color:#333;
        cursor:pointer;

        &:first-of-type,&:last-of-type{
            width:auto;
            padding:0 5px;
        }

        &:first-of-type{
            margin-right:10px;
        }

        &:last-of-type{
            margin-left:10px;
        }

        &::selection {
            background-color: transparent;
        }
    }
}

  /* Style the active/current link */
  .pagination li.active {
    background-color: dodgerblue;
    color: white;
  }
  .nomore{
      color:#b5b5b5 !important;
  }
  
