.ft_driver_body {
    max-width: 497px;
    margin: auto;
}

.ft_driver_modal_button {
    width:170px;
    border-radius:6px;

    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    line-height:19px;
}

.ft_driver_modal_title {
    font-size:30px;
    font-family:OpenSans-Semibold,OpenSans;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:30px;

    text-align: left;
    padding: 20px 0 0 0;
    margin: 0;
}

.ft_driver_cancle_button {
    position: absolute;
    bottom: 24px;
    margin-left: 371px;

    width:126px;
    height:54px;
    background:rgba(9,48,65,1);
    border-radius:5px;

    font-size:16px;
    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:19px;
}