.core_value{
    margin-top: 100px;
    margin-bottom: 150px;
    .value_content{
        display:flex;
        margin-right: 150px;
        margin-left: 150px;
        .module1{
            padding-right: 10px;
            padding-left: 10px;
            background-image:url('../../images/image_1.jpg');
        }
        .module2{
            padding-right: 10px;
            padding-left: 10px;
            background-image: url('../../images/image_2.jpg');
        }
        .module3{
            padding-right: 10px;
            padding-left: 10px;
            background-image: url('../../images/image_3.jpg');
        }
    }
}