.ft_backend_sider {
    width: 357px;
    height: 100vh;
    background: rgba(31,38,62,1);
}

.ft_backend_sider_title {
    font-size:30px;
    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:30px;

    padding: 24px 0 121px 50px;
}

.ft_backend_sider_menu {
    width: 357px;
    height: auto;
    background: rgba(31,38,62,1);
}

.ft_backend_sider_menu_item {
    font-size: 16px;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
    color: rgba(255,255,255,1);
    line-height: 22px;

    padding: 0 0 19px 33px;
}

.ft_backend_sider_footer {
    font-size: 12px;
    font-family: OpenSans;
    color: rgba(255,255,255,1);
    line-height: 17px;

    position: absolute;
    bottom: 50px;
    left: 50px;
}