.ft_verification {
    max-width: 497px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft_validation {
    display: flex;
    justify-content: flex-start;
}

.ft_verification_instruction {
    font-size:14px;
    font-family:OpenSans;
    color:rgba(153,153,153,1);
    line-height:18px;


}