.ft_news_card_bg {
    background-color: white;
}

.ft_news_card {
    height: 404px;
    box-shadow:0px 2px 17px 0px rgba(0,0,0,0.04);
    border-radius:3px;
    border:1px solid rgba(227,227,227,1);
    cursor: pointer;

    margin: 0 30px 0 30px;
}
.ft_news_card:hover {
    box-shadow: 0 0 16px rgba(0,0,0,0.08);
}

.ft_news_card_img_div {
    width: auto;
    height: 194px;
    overflow: hidden;
}
.ft_news_card_img {
    width: 339px;
    min-height: 194px;
}

.ft_news_card_body {
    padding: 16px 38px 0 20px;
}

.ft_news_card_title {
    max-width: 281px;
    max-height: 48px;

    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-size:18px;
    font-family:OpenSans-Semibold,OpenSans;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:24px;

    text-align: left;
    margin: 0 0 10px 0;
}

.ft_news_card_timestamp {
    font-size:14px;
    font-family:OpenSans;
    color:rgba(153,153,153,1);
    line-height:19px;

    text-align: left;
    margin: 0;
    padding: 0 0 16px 0;
}

.ft_news_card_text {
    max-width: 281px;
    max-height: 66px;

    font-size:16px !important;
    font-family:OpenSans;
    color:rgba(102,102,102,1);
    line-height:22px;
    text-align: left;
   
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    padding: 0 0 35px 0;
}
