.ft-time-steps-bg {
  background-color: #FFFAF4;
  z-index: 1;
}
.ft-time-steps-content {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
z-index: 3;
padding-top: 800px;
padding-bottom: 200px;
}
.ft-time-steps-content::after{
  display:block;
  content:’’;
  height:0;
  clear:both;
}


/* for time line */
.TimelineComponent {
  border: 1px solid #979797;    /* added by Bill H. */
  background: #F6F6F6;          /* added by Bill H. */
  padding: 10px 10px 10px 10px; 
  width: 1140px;                  /* 1497px; */
  /* width: 100%; */
  /* height: 186px; */
  margin: 0 auto;
}

/* for content */
.ContentComponent {
  display: flex;
  line-height: 1.3;
  line: 2px solid;  
  color: red
}
.ContentComponent:last-child 
.body-component::before {
  display: none;
}

/* for year */
.YearComponent {
  color: #002a3a;     /* the color of the year */
  font-size: 1em;       /* the size of the year */
  font-weight: 400;
  width: 110px;         /* the width of display the year */
  padding-right: 10px;  /* the spaces between year to circle & line */
  position: relative;
  body: center;
}
.YearComponent::after {
    background: #ccc;  /* the background color of the circle */
    border-radius: 50%;  /* the body redius of the circle */
    content: '';         /* there is none in the circle */
    height: 16px;        /* the height of the circle */
    width: 16px;         /* the width of the circle */
    right: -6px;         /* the position of the circle */
    position: absolute;  /* the position of the circle */
    top: 5px;            /* the start position of the line */
    /*hover{ content: red;}; // added by Bill H. */
}
.YearComponentItem{
  margin-bottom: 8px;
}

/* for body */
.BodyComponent{
  color: #002a3a;
  font-size: .9em;
  padding-bottom: 20px;
  padding-left: 15px;
  position: relative;
  @media (min-width: 1200px) {
    font-size: 1em;
  }
}
.BodyComponent::before {
    background-color: #ccc;
    content: '';
    height: 100%;
    left: -3px;
    min-height: 95%;
    position: absolute;
    top: 10px;
    width: 2px;
}
.BodyComponentTitle{
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  margin-left: 26px;       /* The start position of the description, by Bill H. */
  text-align: left;
}

 /* For description */
.DescriptionComponent{
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  float: right;           /* by Bill H. */
  width: 350px;           /* The widht of the content of description; by Bill H. */
  margin-left: 26px;      /* Do it fot "title" in the tl_content_body.js, by Bill H. */
  position: reltive;
}
.DescriptionComponentText{
  font-weight: 300;
}
.DescriptionComponentTextOptional{
  color: #818a91;
  font-style: italic;
}
.DescriptionComponentTextOptional::before {
    content: '- (';
    margin-left: 5px;
}
.DescriptionComponentTextOptional::after {
    content: ')';
}


.ContentComponent.active 
.YearComponent::after{
	background-color: #06f
}

.ContentComponent.active 
.BodyComponent::before{
	background-color: #06f
}
