.header {
  height: 74px;
  color: white;
  background: #062236;
}
.header_display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 0 0;
}

.header_left {
  min-width: 35%;
  display: flex;
  justify-content: space-between;
}

.header_title {
  font-size:18px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:20px;
}

.header_options {
  min-width: 60%;
  display: flex;
  justify-content: space-between;
}

.header_option{
  font-size:16px;
  font-family:OpenSans;
  color:rgba(255,255,255,1);
  line-height:20px;
  text-align: center;
}

.header_language {
  font-size:16px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(153,153,153,1);
  line-height:16px;
  text-align: center;
}




