/* ================================================================= */
/* Program: Footer,css - the css file of the footer of the office    */
/*          website                                                  */ 
/* Author : Bill Huang                                               */
/* Date   : Oct 19 - Dec 18, 2019                                    */
/* ================================================================= */

/* Delivery Footer */
/* --------------- */

.ft-footer-bg {
    background-color:#FAFAFA;
}
.ft-footer-content {
    margin: 0;
    padding: 0;
    padding-top: 110px;
    padding-bottom: 120px;
    max-width: 1140px;
    margin: 0 auto;
}
  
/* Process group 1 */
/* --------------- */

.ft-footer-group-1 {
    margin: 0;
    padding: 0;

    display: -webkit-flex;
    display: flex;  

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;  
    flex-wrap: wrap;  

    -webkit-justify-content: space-between;
    justify-content: space-between;
    
    -webkit-align-items: flex-start;
    align-items: flex-start;  
}

.ft-footer-1to4 a {
    padding: 0;
    padding-bottom: 10px;
    color: black;
}

.ft-footer-5 {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10px;
    color: black;
}
.ft-footer-5-div-1 {
    margin-bottom: 13px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
}
.ft-footer-5-email {
    font-weight: bold;
    color: #383838;
}
.ft-footer-5-div-2 {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}
.ft-footer-7 {
    color: black;
}
.ft-footer-links:hover {
    color: #13C2C2;
}

@media (max-width: 1140px){
    .ft-footer-content {
      padding-right: 10px;  
      padding-left: 10px;
    }
}
  