.fh_rec_det_apply_box{
    max-width: 500px;
    margin: auto;
}

.fh_rec_det_apply_title {
    font-size:30px;
    font-family:OpenSans-Semibold,OpenSans;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:38px;

    padding: 10px 0 0 0;
}

.fh_rec_det_apply_name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fh_rec_det_apply_submit {
    text-align: right;
}
.fh_rec_det_apply_submit_button {
    width:126px;
    height:54px !important;
    background:rgba(6,34,54,1) !important;
    border: none !important;
    border-radius:5px !important;

    font-size:16px !important;
    font-family:Roboto-Bold,Roboto !important;
    font-weight:bold !important;
    color:rgba(255,255,255,1) !important;
    line-height:19px !important;
}

.fh_rec_det_apply_label {
    font-size:16px;
    font-family:OpenSans-Semibold,OpenSans;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:18px;
}