.s_modal_body {
    max-width: 497px;
    margin: auto;
}

.s_modal_button {
    width:126px;
    height:54px;
    background:rgba(6,34,54,1);
    border-radius:5px;
    border: none;
    outline: none !important;

    font-size:16px;
    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:19px;
}

.s_modal_cancel_button {
    width:126px;
    height:54px;
    background:rgba(6,34,54,1);
    border-radius:5px;
    border: none;
    outline: none !important;

    font-size:16px;
    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:19px;

    margin: 18px 0 0 371px;
}

.s_modal_title {
    font-size:50px;
    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:38px;

    margin: 0;
    padding: 60px 0 0 0;
}

.s_modal_subtitle {
    font-size:30px;
    font-family:OpenSans;
    color:rgba(51,51,51,1);
    line-height:38px;

    margin: 0;
    padding: 18px 0 125px 0;
}

.s_modal_image {
    width: 161px;
    height: 161px;
    
    margin: 0 auto;
}

.s_modal_content {
    font-size:18px;
    font-family:OpenSans;
    color:rgba(51,51,51,1);
    line-height:18px;

    margin: 0;
    padding: 78px 0 65px 0;
}