.ft-career-container-bg {
    background-color: #FFFFFF;
}
.ft-news-details-bg {
    background-color: #FFFFFF;
}
.ft-container-bg {
    max-width: 1140px;
    margin: 0 auto;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.ft-career-slider1 > 
.slick-dots,
.ft-career-slider2 > 
.slick-dots {
    position: absolute;

    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 9px;
        // width: 40px !important;
        // margin: 0 0 0 5px !important;
        width: 40px;
        margin: 0 0 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 1px solid rgba(187,187,187,1);
            border-radius: 9px;
            background: rgba(255,255,255,1);
            display: block;
            height: 9px;
            width: 39px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            padding: 0px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                // content: '' !important;
                // width: 39px !important;
                // height: 9px !important;
                content: '';
                width: 39px;
                height: 9px;
                border: 1px solid rgba(187,187,187,1);
                border-radius: 9px;
                // opacity: 1 !important;
                opacity: 1;
                background: rgba(255,255,255,1);
            }
        }
        &.slick-active button:before {
            background:rgba(6,34,54,1);
            opacity: 1 ;
        }
    }
}